@keyframes zoom {
  0% {   background: radial-gradient(circle at 50%, #205e9f 10%, #0a1a34 20%, transparent 20%),
                     repeating-radial-gradient(circle at 50%, #f4b48b 21%, #ec7936 25%, #a72b28 38%, #89231b 40%); }
100% {   background: radial-gradient(circle at 50%, #205e9f 10%, #0a1a34 20%, transparent 20%),
                     repeating-radial-gradient(circle at 50%, #f4b48b 1%, #ec7936 5%, #a72b28 18%, #89231b 20%); }
}

window {
  animation: zoom infinite linear 1s;
  background: radial-gradient(circle at 50%, #205e9f 10%, #0a1a34 20%, transparent 20%),
              repeating-radial-gradient(circle at 50%, #f4b48b 1%, #ec7936 5%, #a72b28 18%, #89231b 20%);
}

headerbar {
  background: none;
  border-color: rgba(0,0,0,0);
}

label.hero {
  font-size: 72pt;
  text-shadow: -6px 6px 12px black;
}
